<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-flash-alert/dist/angular-flash.css">
    <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css">
</head>
<body>

<div class = "container" data-ng-controller = "IndexCtrl as ctrl">
    <nav class="navbar navbar-default" data-ng-show = "!ctrl.boolean">
        <ul class="nav pull-left">
            <a ng-click="ctrl.home()">Hooked</a>
        </ul>
        <ul class="nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Login<strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 15px;">
                    <form name="loginForm" ng-submit="ctrl.login()" novalidate autocomplete="off">
                        <input type="email" id="email-login" name="email" placeholder="Email" ng-model="ctrl.list.email">
                        <input type="password" id="password-login" name="password" placeholder="Password" ng-model="ctrl.list.password">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </li>
        </ul>

        <ul class="nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Sign Up<strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 15px;">
                    <form name="registerForm" ng-submit="ctrl.signUp()" novalidate autocomplete="off">
                        <input type="text" id="name-first-sign-up" name="name-first-sign-up" placeholder="First Name" ng-model="ctrl.list.name_first">
                        <input type="text" id="name-last-sign-up" name="name-last-sign-up" placeholder="Last Name" ng-model="ctrl.list.name_last">
                        <input type="email" id="email-sign-up" name="email-sign-up" placeholder="Email" ng-model="ctrl.list.email">
                        <input type="password" id="password1-sign-up" name="password1-sign-up" placeholder="Password" ng-model="ctrl.list.password">
                        <input type="password" id="password2-sign-up" name="password2-sign-up" placeholder="Confirm password" ng-model="ctrl.confirmPassword">
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </form>
                </div>
            </li>
        </ul>
    </nav>

    <nav class="navbar navbar-login" data-ng-show = "ctrl.boolean">
        <ul class="nav pull-left">
            <a ng-click="ctrl.home()">Hooked</a>
        </ul>
        <ul class="nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    {{ctrl.list.name_first+ctrl.list.name_last}}
                    <strong class="caret"></strong>
                </a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 15px;">
                    <form name="loggedInForm" novalidate autocomplete="off">
                        <a type="link" id="profile" name="profile"
                           ng-click="ctrl.details(ctrl.list.id)">
                            Profile
                        </a><br>
                        <a type="link" id="cart" name="cart"
                           ng-click="ctrl.cart(ctrl.list.id)">
                            Cart
                        </a><br>
                        <a type="link" id="provider" name="provider"
                           ng-click="ctrl.admin(ctrl.list.id)">
                            Provider
                        </a><br>
                        <a type="link" id="logout" name="logout"
                           ng-click="ctrl.logout()">
                            Logout
                        </a>
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</div>

<ui-view></ui-view>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>



<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/angular-flash-alert/dist/angular-flash.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
<script src="bower_components/ngprogress/build/ngprogress.min.js"></script>

<script type="text/javascript" src="app/app.js"></script>
<script src="app/app.config.js"></script>
<script src="app/auth-factory.js"></script>
<script src="index.js"></script>
<script src="app/search/search.controller.js"></script>
<script src="app/admin/main.controller.js"></script>
<script src="app/admin/dishes.controller.js"></script>
<script src="app/admin/order.controller.js"></script>
<script src="app/order/checkout.controller.js"></script>
<script src="app/order/cart.js"></script>
<!--<script src="app/order/order.service.js"></script>-->
<script src="/app/order/order.controller.js"></script>
<script src="/app/profile/profile.controller.js"></script>

</body>
</html>