<div class="body" data-ng-controller = "CartCtrl as ctrl">
    <h1>Your Cart</h1>
    <table class="table table-striped" ng-repeat="orders in ctrl.listOrders track by $index">
        <tr>
            <td>{{$index+1}})</td>
            <td>Order No: <a>{{orders.order_no}}</a></td>
            <!-- only if not yet paid then redirect to check out -->
            <td>Status: <a ng-click = "ctrl.checkout()">{{orders.confirmed}}</a></td>
            <td>
                <button type="submit" class="btn btn-info form-control"
                        data-ng-show="!orders.completed" ng-click="ctrl.complete()">
                    Completed
                </button>
            </td>

        </tr>
    </table>
</div>