<div class="body" data-ng-controller = "CheckoutCtrl as ctrl">
    <h1>Checkout Page</h1>

    <h3>Order Summary</h3>

    <table class="table table-striped">
        <tbody>
        <tr>Order No: {{ctrl.listOrders[0].order_no}}</tr>
        <tr ng-repeat="orders in ctrl.listOrders[0].order_details track by $index">
            <td>{{$index+1}})</td>
            <td>{{orders.dish_name}}</td>
            <td>Servings:</td>
            <td>{{orders.quantity}}</td>
            <td>Sub-total:</td>
            <td>${{orders.sub_bill}}</td>
        </tr>
        </tbody>
    </table>

    <h4>Total:${{ctrl.totalBill}}</h4>

    <div class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true"
         style="position: fixed;"
         data-ng-class="{'show': ctrl.showUpload, 'in': ctrl.showUpload}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="form" ng-submit="form.$valid && ctrl.purchase()">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                                data-ng-click="ctrl.showUpload = false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Payment Details</h4>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Card Type</label>
                            <br/>
                            <input name="Visa"
                                   type="radio"
                                   required
                                   value="visa"
                                   ng-model="ctrl.listUsers.cardType"/>
                            Visa
                            <br/>
                            <input name="MasterCard"
                                   type="radio"
                                   required
                                   value="MasterCard"
                                   ng-model="ctrl.listUsers.cardType"/>
                            MasterCard
                            <br/>
                        </div>
                        <div class="form-group">
                            <label for="cardNo">Card Number</label>
                            <input id="cardNo"
                                   name="CardNo"
                                   type="text"
                                   required
                                   ng-model="ctrl.listUsers.no"/>
                            <label for="cvv2">cvv2</label>
                            <input id="cvv2"
                                   name="cvv2"
                                   required
                                   ng-model="ctrl.listUsers.cvv2"/>
                        </div>
                        <div class="form-group">
                            <label>Expiry date (MM/YYYY)</label>
                            <select id="expireMonth"
                                    name="expireMonth"
                                    required
                                    ng-model="ctrl.listUsers.expMonth">
                                <option ng-repeat="months in ctrl.month">{{months}}</option>
                            </select>
                            <select id="expireYear"
                                    name="expireYear"
                                    required
                                    ng-model="ctrl.listUsers.expYear">
                                <option ng-repeat="years in ctrl.year">{{years}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="nameFirst">First Name</label>
                            <input id="nameFirst"
                                   name="nameFirst"
                                   required
                                   ng-model="ctrl.listUsers.name_first"/>
                            <label for="nameLast">Last Name</label>
                            <input id="nameLast"
                                   name="nameLast"
                                   required
                                   ng-model="ctrl.listUsers.name_last"/>
                        </div>
                        <div class="form-group">
                            <label for="Country">Country</label>
                            <input id="Country"
                                   name="Country"
                                   required
                                   ng-model="ctrl.listUsers.country"/>
                            <label for="State">State</label>
                            <input id="State"
                                   name="State"
                                   required
                                   ng-model="ctrl.listUsers.state"/><br><br>
                            <label for="City">City</label>
                            <input id="City"
                                   name="City"
                                   required
                                   ng-model="ctrl.listUsers.city"/>
                        </div>
                        <div class="form-group">
                            <label for="Address">Address</label>
                            <input id="Address"
                                   name="Address"
                                   required
                                   ng-model="ctrl.listUsers.address"/>
                            <label for="postalCode">Postal Code</label>
                            <input id="postalCode"
                                   name="postalCode"
                                   required
                                   ng-model="ctrl.listUsers.postal_code"/>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: left;">
                        <button type="submit"
                                data-ng-class="{disabled: ctrl.uploading}"
                                data-ng-click="ctrl.purchase()"
                                class="btn btn-danger"> Confirm
                        </button>
                        <button data-dismiss="modal"
                                aria-label="Close"
                                data-ng-click="ctrl.showUpload = false"
                                class="btn btn-default"> Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button class="btn btn-info form-control" data-ng-click="ctrl.showUpload = true">Confirm Purchase</button>
</div>