<div class="body" data-ng-controller = "OrderCtrl as ctrl">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <h1>Menu of {{ctrl.listUsers.name_first+ctrl.listUsers.name_last}}</h1>

        <div ng-repeat="dishes in ctrl.listDishes">
            <table class="table table-striped">
                <tr>
                    <td>{{dishes.dish_name+":"}}</td>
                    <td>{{dishes.description}}</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>${{dishes.price}}</td>
                </tr>
                <tr>
                    <td>Servings left:</td>
                    <td>{{dishes.quantity_left}}</td>
                </tr>
            </table>

            <img ngf-thumbnail="dishes.dish_pic"
                 style="max-width: 100%"><br><br><br>
        </div>



        <h3>Reviews</h3>

        <table class="table table-striped">
            <tbody ng-repeat="reviews in ctrl.listReviews">
            <tr>
                <td>{{reviews.user.name_first+reviews.user.name_last+":"}}</td>
                <td>{{reviews.review}}</td>
            </tr>
            </tbody>
        </table>

        <form ng-submit="ctrl.review()">
            <h5>Post your review</h5>

            <textarea rows="6" cols="40" ng-model="ctrl.newReview"></textarea><br><br>
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid">
                Post Review
            </button>

        </form>
    </div>

    <div class="aside">
        <div class="col-xs-6 col-md-4">
            <form name="orderForm" ng-submit="ctrl.addToCart()" novalidate autocomplete="off">
                <label for="quantitySelect"> Choose your dish: </label>
                <select name="quantitySelect" id="quantitySelect" ng-model="ctrl.selectedDish">
                    <option ng-repeat="dishes in ctrl.listDishes">{{dishes.dish_name}}</option>
                </select><br><br>

                <input type="number" id="quantity" name="quantity" placeholder="Quantity" ng-model="ctrl.quantity"><br><br>

                <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid">
                    Add to cart
                </button>
            </form><br><br>

            <h5>My Cart (Quantity)</h5>
            <table class="table table-hover">
                <tr ng-repeat="cartItems in ctrl.cartItems track by $index"
                    ng-click="ctrl.deleteItem($index)">
                    <td> {{cartItems.dish+" ("+cartItems.quantity+" servings)"}} </td>
                </tr>
            </table><br><br>

            <label>Total bill:</label>${{ctrl.totalBill}}

            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    data-ng-click="ctrl.payment()">
                Purchase
            </button>
        </div>
    </div>
</div>
