<div class="container" data-ng-controller = "adminMainCtrl as ctrl">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a>My Dishes</a></li>
            <li class="nav" ng-click="ctrl.redirectOrders()"><a>Orders</a></li>
        </ul>
    </div>

    <h1>My Dishes</h1>

    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="dishes in ctrl.listDishes">
            <td ><a ng-click="ctrl.details(dishes.id)">{{dishes.dish_name}}</a></td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true"
         style="position: absolute;"
         data-ng-class="{'show': ctrl.showModal, 'in': ctrl.showModal}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="form" ng-submit="form.$valid && ctrl.addDish()">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                                data-ng-click="ctrl.showModal = false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add Dish</h4>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   ng-model="ctrl.dish.dish_name"
                                   placeholder="Dish name"/>
                            <input type="text"
                                   class="form-control"
                                   ng-model="ctrl.dish.description"
                                   placeholder="Description"/>
                            <input type="text"
                                   class="form-control"
                                   ng-model="ctrl.dish.quantity"
                                   placeholder="Quantity"/>
                            <input type="text"
                                   class="form-control"
                                   ng-model="ctrl.dish.price"
                                   placeholder="Price"/>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: left;">
                        <button type="submit"
                                data-ng-class="{disabled: ctrl.uploading}"
                                data-ng-click="ctrl.showModal = false"
                                class="btn btn-danger"> Add
                        </button>
                        <button data-dismiss="modal"
                                aria-label="Close"
                                data-ng-click="ctrl.showModal = false"
                                class="btn btn-default"> Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a class="upload" data-ng-click="ctrl.showModal = true">Add new dish</a>

    <h1>Your reviews</h1>

    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="reviews in ctrl.listReviews">
            <td>{{reviews.review}}</td>
        </tr>
        </tbody>
    </table>
</div>