<div class="container" data-ng-controller = "adminOrdersCtrl as ctrl">
    <h1>Provider Orders Page</h1>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav" ng-click="ctrl.redirectMain()"><a>Admin</a></li>
            <li class="active"><a>Orders</a></li>
        </ul>
    </div>
    <table class="table table-striped" ng-repeat="orders in ctrl.listOrders track by $index">
        <tr>
            <td>{{$index+1}})</td>
            <td>Order No: {{orders.order_no}}</td>
        </tr>
        <tr ng-repeat="details in orders.order_details">
            <td>Dish Name: {{details.dish_name}}</td>
            <td>Quantity: {{details.quantity}}</td>
        </tr>
    </table>
</div>