<div class="container" data-ng-controller = "adminDishesCtrl as ctrl">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a>Admin</a></li>
            <li class="nav" ng-click="ctrl.redirectOrders()"><a>Orders</a></li>
        </ul>
    </div>

    <h1>Provider Admin Page</h1>

    <form name="dishForm" ng-submit="ctrl.update()" novalidate autocomplete="off">
        <h3>{{ctrl.dish.dish_name}}</h3><br><br>
        <label>Dish name: </label>
        <input id="dishName"
               name="dishName"
               type="text"
               required
               ng-model="ctrl.dish.dish_name"/><br><br>
        <label>Description: </label>
        <input id="dishDescription"
               name="dishDescription"
               type="text"
               required
               ng-model="ctrl.dish.description"/><br><br>
        <label>Quantity: </label>
        <input id="dishQuantity"
               name="dishQuantity"
               type="text"
               required
               ng-model="ctrl.dish.quantity"/><br><br>
        <label>Price: </label>
        <input id="dishPrice"
               name="dishPrice"
               type="text"
               required
               ng-model="ctrl.dish.price"/><br><br>

        <label>Upload 1 dish picture: </label>
        <div class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true"
             style="position: fixed;"
             data-ng-class="{'show': ctrl.showUpload, 'in': ctrl.showUpload}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form name="form" ng-submit="form.$valid && ctrl.prepareUpload()">
                        <div class="modal-header">
                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    data-ng-click="ctrl.showUpload = false">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Add picture</h4>

                        </div>
                        <div class="modal-body">
                            <div class="file"
                                 style="border: 2px dashed #DDD; width: 50%; min-height: 250px;">
                                <img ngf-thumbnail="ctrl.form.file"
                                     style="max-width: 100%">
                                <a ngf-select class="camera-btn"
                                   ng-model="ctrl.form.file">
                                    <span class="glyphicon glyphicon-camera"></span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: left;">
                            <button type="submit"
                                    data-ng-class="{disabled: ctrl.uploading}"
                                    data-ng-click="ctrl.prepareUpload()"
                                    class="btn btn-danger"> Add
                            </button>
                            <button data-dismiss="modal"
                                    aria-label="Close"
                                    data-ng-click="ctrl.showUpload = false"
                                    class="btn btn-default"> Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <img src={{ctrl.dish.dish_pic}}>
        <a class="upload" data-ng-click="ctrl.showUpload = true">+</a>
    </form>

    <button class="btn btn-info form-control
            ng-click="ctrl.back()">
        Back
    </button>

    <button class="btn btn-info form-control"
            ng-click="ctrl.delete()">
        Delete
    </button>


    <button class="btn btn-info form-control"
            type="submit"
            ng-click="ctrl.update()">
        Update
    </button>

    <!--<button type="submit"-->
    <!--data-ng-click="ctrl.prepareUpload()"-->
    <!--class="btn btn-info"> Add-->
    <!--</button>-->
    <!--<button type="submit"-->
    <!--data-ng-click="ctrl.showUpload = false"-->
    <!--class="btn btn-default"> Cancel-->
    <!--</button>-->
</div>