<div class="container" data-ng-controller = "ProfileCtrl as ctrl">
    <form name="profileForm" ng-submit="profileForm.$valid && ctrl.update()" novalidate autocomplete="off">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input id="firstName"
                   name="firstName"
                   type="text"
                   value="ctrl.list.name_first"
                   required
                   ng-model="ctrl.list.name_first"/>

            <div class="validation"  data-ng-show="profileForm.firstName.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Name is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName"
                   name="lastName"
                   type="text"
                   value="ctrl.list.name_last"
                   required
                   ng-model="ctrl.list.name_last"/>

            <div class="validation"  data-ng-show="profileForm.name.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Name is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password"
                   type="password"
                   class="form-control"
                   name="password"
                   value= {{ctrl.list.password}}
                   required
                   minlength="1"
                   ng-model="ctrl.list.password"/>

            <div class="validation"  data-ng-show="profileForm.password.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.password.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Password is required.
                </div>
                <div data-ng-show="profileForm.password.$error.minlength">
                    <span class="glyphicon glyphicon-alert"></span>
                    Password must be at least 8 characters long.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword"
                   type="password"
                   class="form-control"
                   value= {{ctrl.list.password}}
                   name="confirmPassword"
                   required
                   minlength="1"
            />

            <div class="validation"  data-ng-show="profileForm.confirmPassword.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.confirmPassword.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Confirm Password is required.
                </div>
                <div data-ng-show="ctrl.user.password != ctrl.user.confirmPassword">
                    <span class="glyphicon glyphicon-alert"></span>
                    Passwords do not match
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email"
                   name="email"
                   type="email"

                   required
                   ng-model="ctrl.list.email"/>

            <div class="validation" data-ng-show="profileForm.email.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.email.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Email is mandatory.
                </div>
                <div data-ng-show="profileForm.email.$error.email">
                    <span class="glyphicon glyphicon-alert"></span>
                    Email is invalid.
                </div>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label for="mobile">Mobile Number</label>-->
            <!--<input id="mobile"-->
                   <!--name="contactNumber"-->
                   <!--minlength="8"-->
                   <!--required-->
                   <!--value="ctrl.list.mobile"-->
                   <!--ng-pattern="/^[0-9+()-]*$/"-->
                   <!--ng-model="ctrl.list.mobile"/>-->

            <!--<div class="validation"  data-ng-show="profileForm.contactNumber.$touched || profileForm.$submitted">-->
                <!--<div data-ng-show="profileForm.contactNumber.$error.required">-->
                    <!--<span class="glyphicon glyphicon-alert"></span>-->
                    <!--Mobile Number is required.-->
                <!--</div>-->
                <!--<div data-ng-show="profileForm.contactNumber.$error.minlength">-->
                    <!--<span class="glyphicon glyphicon-alert"></span>-->
                    <!--Mobile Number must be at least 8 digits long.-->
                <!--</div>-->
                <!--<div data-ng-show="profileForm.contactNumber.$error.pattern">-->
                    <!--<span class="glyphicon glyphicon-alert"></span>-->
                    <!--Mobile Number contains invalid characters.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label>Gender</label>
            <br/>
            <input name="gender"
                   type="radio"
                   required
                   value="M"
                   ng-model="ctrl.list.gender"/>
            Male
            <br/>
            <input name="gender"
                   type="radio"
                   required
                   value="F"
                   ng-model="ctrl.list.gender"/>
            Female
            <br/>
        </div>
        <!--<div class="form-group">-->
            <!--<label for="dateOfBirth">Date of Birth</label>-->
            <!--<input id="dateOfBirth"-->
                   <!--name="dateOfBirth"-->
                   <!--type="date"-->
                   <!--value="ctrl.list.birth_date"-->
                   <!--required-->
                   <!--ng-model="ctrl.list.birth_date"/>-->

            <!--<div class="validation" data-ng-show="profileForm.dateOfBirth.$touched || profileForm.$submitted">-->
                <!--<div data-ng-show="profileForm.dateOfBirth.$error.required">-->
                    <!--<span class="glyphicon glyphicon-alert"></span>-->
                    <!--Date of Birth is required.-->
                <!--</div>-->
                <!--<div data-ng-show="profileForm.dateOfBirth.$invalid">-->
                    <!--<span class="glyphicon glyphicon-alert"></span>-->
                    <!--Invalid Date.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label for="address">Address</label>
            <input id="address"
                   name="address"
                   type="text"
                   value="ctrl.list.address"
                   required
                   ng-model="ctrl.list.address"/>

            <div class="validation" data-ng-show="profileForm.address.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.address.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Address is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="postalCode">Postal Code</label>
            <input id="postalCode"
                   name="postalCode"
                   type="text"
                   length="6"
                   value="ctrl.list.postal_code"
                   required
                   ng-model="ctrl.list.postal_code"/>

            <div class="validation" data-ng-show="profileForm.address.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.address.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Address is required.
                </div>
                <div data-ng-show="profileForm.contactNumber.$error.length">
                    <span class="glyphicon glyphicon-alert"></span>
                    Mobile Number must be 6 digits.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Provider</label>
            <br/>
            <input name="provider"
                   type="radio"
                   required
                   value="Y"
                   ng-model="ctrl.list.provider"/>
            Yes
            <br/>
            <input name="provider"
                   type="radio"
                   required
                   value="N"
                   ng-model="ctrl.list.provider"/>
            No
            <br/>
        </div>
        <div class="search-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid">
            Save
            </button>
            <button class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.deleteAccount()">
                Delete Account
            </button>
        </div>
    </form>
</div>