<h1>Search Here :</h1>

<div class="container" data-ng-controller = "SearchCtrl as ctrl">
    <form name="search-form" novalidate>
        <div class="search-group">
            <input id="location" class="form-control" type="text" name="Location" ng-model="ctrl.searchValue"
                   placeholder="Area">
        </div>
        <div class="search-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>

    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="users in ctrl.list">
            <td ><a ng-click="ctrl.details(users.id)">{{users.name_first+users.name_last}}</a></td>
        </tr>
        </tbody>
    </table>

</div>